@import 'src/styles/variables.scss';
.logo {
  margin: 10px 0 0 0;
  a {
    text-decoration: none;
  }
}

.user-info {
  text-align: right;
  margin: 0 8px 0 0;
  .info {
    .avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
  .div-sign-in {
    margin: 5px 14px;
    .bnt-sign-in {
      margin-left: 5px;
      cursor: pointer;
      fa {
        font-size: $font-size-extra;
      }
    }
  }
}

.header {
  background: linear-gradient(to right, $header-bgr-color-left, $header-bgr-color-right);
  height: 40px;
  padding: 0 0 0 10%;
}

.logged-as {
  margin: 0 20px 0 10px;
  padding: 10px;
  button {
    font-size: $font-size-small;
  }
}