<div class="header">
  <div class="logo" fxFlex="35%">
    <a href="" routerLink="/">
      <app-logo></app-logo>
    </a>
  </div>
  <div fxFlex></div>
  <div fxFlex="20%" class="user-info">

    <div *ngIf="currentUser">
      <span class="info">
        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
          <img class="avatar" [src]=currentUser.avatar />
      </button>
      </span>
    </div>

    <div *ngIf="(router.url !== '/auth/login') && !currentUser" class="div-sign-in">
      <a routerLink="/auth/login" title="Sign In" class="bnt-sign-in">
        <fa name="sign-in"></fa>
      </a>
    </div>
  </div>
</div>


<mat-menu #profileMenu="matMenu" class="profileMenu" xPosition="after" yPosition="below">
  <p class="logged-as" *ngIf="currentUser">Signed as {{ currentUser.nickname }}</p>
  <mat-divider></mat-divider>
  <!-- <button mat-menu-item>My Courses</button> -->
  <a mat-menu-item routerLink="/profile">
    <fa name="wrench"></fa>
    <span> Settings</span>
  </a>
  <button mat-menu-item (click)="logout()">
      <fa name="sign-out"></fa>
      <span> Sing out</span>
  </button>

</mat-menu>