@import 'src/styles/variables.scss';

.wrapper {
  background-color: #f9f9f9;
  align-items: center;

  .container {
    margin: auto;
    padding: 40px 0 40px;
    width: 260px;

    .alert-danger {
      border: 1px solid #d8dee2;
      border-radius: 4px;
      background-color: #ffdce0;
      height: 20px;
      color: #701818;
      padding: 15px;
      margin: 10px auto 10px;
      text-align: center;
    }

    .form {
      border: 1px solid #d8dee2;
      border-radius: 10px;
      background-color: white;
      padding: 20px 0 30px 0;
      margin: 0px auto 100px;
      text-align: center;

      h2 {
        margin: 15px 0;
      }

      .username, .password {
        padding: 0 0 10px 0;
      }

      .btn-login {
        width: 180px;
        margin-top: 5px;
      }
    }
  }

}
.mat-login {
  background-color: $color-head-text;
  color: #fff;
}
