.row {
  margin: 0 0 20px;

  .title {
    font-size: 16px;
  }

  .date-creation {
    font-size: 16px;
    font-style: italic;
  }

  .div-edit {
    text-align: right;
  }

  .div-delete {
    text-align: right;  
  }
}
