$font-color: #333;
$font-size-common: 14px;
$font-size-small: 12px;
$font-size-big: 16px;

$header-bgr-color-left: #ec9095;
$header-bgr-color-right: #faaa68;

$page-brg-color-header-left: #e77783;
$page-brg-color-header-right: #f69451;
