$font-color-main: #333;
$font-color-secondary: #ccc;
$font-color-header: white;

$color-action-button: #9bc837;
$color-head-text: #00a5d5;
$color-borders: #ededed;

$font-size-small: 10px;
$font-size-middle: 12px;
$font-size-common: 14px;
$font-size-big: 16px;
$font-size-bigger: 20px;
$font-size-extra: 24px;

$header-bgr-color-left: #ec9095;
$header-bgr-color-right: #faaa68;

$page-brg-color-header-left: #e87a7f;
$page-brg-color-header-right: #f7954f;

$screen-phone: 600px;
$screen-small: 750px;
$screen-medium: 950px;