$font-color-main: #333;
$font-color-header: white;

$color-action-button: #9bc837;

$font-size-small: 10px;
$font-size-middle: 12px;
$font-size-common: 14px;

$font-size-big: 16px;

$header-bgr-color-left: #ec9095;
$header-bgr-color-right: #faaa68;

$page-brg-color-header-left: #e87a7f;
$page-brg-color-header-right: #f7954f;
