@import 'src/styles/variables.scss';

.header {
  height: 40px;
}

.content {
}

.div-header > ::ng-deep figure {
  justify-content: flex-start !important;
}

.footer {
  margin: 10px 10% 0 0;
}

