<div class="head">
  <div class="search" fxLayout="row" fxLayoutAlign="start end">
    <app-search-course></app-search-course>

    <button mat-button class="btn-add-course" (click)="add()">
      <fa name="plus" class="pluss"></fa> <span>Add Course</span>
    </button>
  </div>
</div>

<div class="container">
  <div class="total-count-courses">Total courses: {{ countAll }}</div>
  <div *ngFor="let course of courses; let index=index;">
    <app-course [course]=course (delete)=delete(course) class="course-item"></app-course>
  </div>
</div>

<div class="load-more">
  <button mat-button (click)="loadMore()" class="btn-load-more">Load More</button>
</div>
