@import 'src/styles/variables.scss';

.head {
  background: linear-gradient(to right, $page-brg-color-header-left , $page-brg-color-header-right);
  height: 126px;
  padding: 0 10%;

  .search {
    padding: 25px 0 0 0;
  }
}

.btn-add-course {
  border: 1px solid $font-color-header;
  border-radius: 4px;
  color: $font-color-header;
  font-size: $font-size-small;
  height: 34px;
  margin: 0 0 0 10px;
}

.container {
  padding: 0 10%;
  // margin: 20px 0 20px;

  .course-item {
    margin: 0 15px;
  }
}

.load-more {
  text-align: center;
  // background-color: #eee;

  .btn-load-more {
    width: 240px;
    height: 35px;
  }
}
