@import 'src/styles/variables.scss';

.head {
  background: linear-gradient(to right, $page-brg-color-header-left , $page-brg-color-header-right);
  height: 126px;
  padding: 0 10%;

  .search {
    padding: 25px 0 0 0;
  }

  .pluss {
    margin: 0 4px 0 0;
  }
}

.btn-add-course {
  border: 1px solid $font-color-header;
  border-radius: 4px;
  color: $font-color-header;
  font-size: $font-size-middle;
  height: 34px;
  margin: 0 0 0 10px;
}

.container {
  padding: 0 10%;

  .total-count-courses {
    margin: 30px 0 15px 0;
    font-weight: bold;
  }

  .course-item {
    margin: 50px 0 50px 0;
  }
}

.load-more {
  text-align: center;

  .btn-load-more {
    border-radius: 5px;
    border-color: $color-borders;
    width: 200px;
    height: 35px;
  }
}
