<div class="head">
  <div class="search" fxLayout="row" fxLayoutAlign="start end">
    <app-search-course (search)="searchCourses($event)"></app-search-course>

    <button mat-button *ngIf="canAddCourse()"
      (click)="addCourse()" class="btn-add-course">
      <fa name="plus" class="pluss"></fa><span>Add Course</span>
    </button>
  </div>
</div>

<div *ngIf="countAll; else notFoundCourses" class="container">
  <div class="total-count-courses">Total courses: {{ countAll }}</div>
  <div *ngFor="let course of courses; let index=index;">
    <app-course [course]=course
      [canEdit]=canEditCourse(course)
      [canDelete]=canDeleteCourse(course)
      (delete)=delete(course) (edit)=edit(course)
      class="course-item">
    </app-course>
  </div>


  <div class="load-more">
    <button mat-button (click)="loadMore()" class="btn-load-more">Load More</button>
  </div>

</div>

<ng-template #notFoundCourses>
  <div class="container">
    <p>Courses not found.</p>
  </div>
</ng-template>
