@import 'src/styles/variables.scss';

.head {
  background: linear-gradient(to right, $page-brg-color-header-left , $page-brg-color-header-right);
  height: 140px;
  padding: 0 10%;
}

.div-add-course {
  text-align: right;
  color: green;
}

.button-add-course {
  background-color: #ddd;
}

.even {
  background-color: #f1f9df;
}
.odd {
  background-color: #f5ffdd;
}

.container {
  margin: 20px 0 20px;
}

.load-more {
  text-align: center;
  background-color: #eee;

  .btn-load-more {
    width: 240px;
    height: 35px;
  }
}
