.add-course-button{
  text-align: right;
}

.panel {
  // display: block;
}

.container {
  margin: 20px 0 20px;
}

.load-more {
  
  text-align: center;
  background-color: #eee;

  .btn-load-more {
    width: 140px;
    height: 25px;
  }
}
