@import 'src/styles/variables.scss';

.lable {
  color: white;
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  margin: 0 0 15px 0;
}

.search-container {
  // width: 440px;
  background: white;
  border-radius: 4px;
  padding: 4px;
  // align-content: right;

  .input-search {
    font-size: $font-size-middle;
    margin: 2px 10px;
    width: 400px;
    border: none;

    :focus, :active {
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
    }

  }

  .btn-search {
    background-color: $color-action-button;
    color: white;
    font-size: 10px;
    border-radius: 4px;
    height: 25px;
    width: 54px;
  }
}
