@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'src/styles/variables.scss';

body {
  font-family: 'Raleway', sans-serif;
  font-size: $font-size-common;
  color: $font-color-main;
  margin: 0;
}


