// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'src/styles/variables.scss';

body {
  font-family: 'Raleway', sans-serif;
  font-size: $font-size-common;
  color: $font-color;
  margin: 0;
}


