@import 'src/styles/variables.scss';

.card {
  border: 1px solid $color-borders;
  border-radius: 5px;
  margin: 0 0 20px 0;

  .content {
    height: 126px;
    margin: 0;

    .image {
      border-radius: 5px 0 0 5px;
      display: inline-block;
      width: 230px;
      overflow: hidden;
      margin: 0px;
    }

    .course-block {

      padding: 20px 15px;

      .title {
        color: $color-head-text;
        font-size: $font-size-big;
        font-weight: 400;
        margin: 0 0 15px 0;
      }

      .description {
        font-size: $font-size-common;
        height: 45px;
      }

      .info {
        display: flex;

        .author, .duration, .date {
          font-size: $font-size-middle;
          fa {
            color: $color-head-text;
            font-size: $font-size-common;
            margin: 0 8px 0 0;
          }

          span {
            color: $font-color-secondary;
            margin: 0 4px 0 0;
          }

          margin: 0 25px 0 0;
        }

      }
    }

    .controls {
      padding: 20px 10px 0 0;

      .btn-edit, .btn-delete {
        background: transparent;
        color: $color-head-text;
        height: 38px;
        width: 38px;
        margin: 0 0 10px 0;
      }
    }
  }
}
