@import 'src/styles/variables.scss';

.card {
  margin: 0 0 20px 0;
  border: 1px solid #ededed;
  border-radius: 5px;

  .content {
    margin: 0;

    .image {
      margin: 0px;
      display: inline-block;
      overflow: hidden;
      border-radius: 5px 0 0 5px;
    }

    .course-block {
      padding: 10px;
      font-size: $font-size-common;

      .date-creation {
        font-size: $font-size-big;
        font-style: italic;
      }

      .info {
        display: inline;
      }
    }

    .controls {
      padding: 20px 10px 0 0;

      .btn-edit, .btn-delete {
        background: transparent;
        color: $color-head-text;
        width: 38px;
        height: 38px;
        margin: 0 0 10px 0;
      }
    }
  }
}
