<div class="card" [appFreshCourse]="course">
  <div class="content" [ngClass]="course.topRated ? 'topRated': ''">

    <div fxFlex="25%" class="image">
      <a [routerLink]="['/courses', course.slug]">
        <img src="{{ course.thumbnail.src }}" alt="{{ course.thumbnail.alt }}" class="src" />
      </a>
    </div>

    <div fxFlex class="course-block">
      <div class="title">
          <a [routerLink]="['/courses', course.slug]">{{ course.title | uppercase }}</a>
          <fa *ngIf="course.topRated" name="star"></fa>
      </div>
      <div class="description">
          {{ course.description }}
      </div>
      <div class="info">
        <div class="author">
          <fa name="user"></fa><span>Author:</span> {{ course.author }}
        </div>
        <div class="duration">
          <fa name="hourglass-2"></fa><span>Duration:</span> {{ course.duration | duration }}
        </div>
        <div class="date">
          <fa name="calendar"></fa><span>Date:</span> {{ course.dateCreation | date }}
        </div>
    </div>
    </div>

    <div fxFlex="60px" class="controls">
      <button mat-mini-fab class="btn-edit">
          <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-mini-fab class="btn-delete" (click)="deleteCourse()">
          <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </div>
</div>
