<mat-card>
  <mat-card-content>

    <div fxFlex="20%" class="title">#{{ course.id }} {{ course.title }}</div>

    <div fxFlex class="date-creation">Duration: {{ course.duration }} min,
      {{ course.dateCreation | date }}
      {{ course.description }}
    </div>

    <div fxFlex="10%" class="div-edit">
      <button mat-mini-fab class="btn-edit">
          <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="deleteCourse()">
          <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </mat-card-content>

</mat-card>
