<form [formGroup]="formCourse" (ngSubmit)="onSubmit()" novalidate>
  <div class="container">
    <div class="header">
      <span class="title">Add Course</span>
      <span class="btn-close" (click)="cancel()">X</span>
    </div>
    <mat-divider></mat-divider>

    <div class="fields">
      <mat-form-field class="row title">
        <input matInput formControlName="title" placeholder="Title *" autocomplete="off" maxlength="50">
      </mat-form-field>
      <mat-form-field class="row details">
        <textarea matInput formControlName="description" placeholder="Details *" rows="4" autocomplete="off" maxlength="500"></textarea>
      </mat-form-field>
      <mat-form-field class="date">
        <input matInput [matDatepicker]="picker" formControlName="dateCreation" placeholder="Date *">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="duration">
        <input matInput formControlName="duration" placeholder="Duration *" autocomplete="off" onlyNumbers>
      </mat-form-field>
      <span [hidden]="!formCourse.value.duration">{{formCourse.value.duration | duration}}</span>
      <mat-form-field class="row youtube-id">
        <input matInput formControlName="youtubeId" placeholder="Youtube Id *" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="row thumbnail">
        <ngx-mat-file-input formControlName="thumbnailFile" placeholder="Thumbnail image"></ngx-mat-file-input>
      </mat-form-field>

      <mat-form-field class="row authors">
        <input matInput placeholder="Authors *" formControlName="authors" autocomplete="off">
      </mat-form-field>
    </div>

    errors: {{errors}}
    <div class="panel">

      <span class="mandatory-lable"><strong>*</strong> Mandatory fields </span>
      <button mat-button class="btn-save" [color]="!formCourse.valid ? 'dis':'save'" [disabled]="!formCourse.valid">Save</button>
      <button mat-button (click)="cancel()" [color]="'cancel'">Cancel</button>
    </div>

  </div>
</form>